.container{
    max-width: 400px;
    min-height: 450px;
    margin: 0 auto;
    background-color: darkturquoise;
  
    color: white;
  
    box-shadow: 0 0 10px gray;
    margin-top: 50px;
    padding: 15px 50px;
  }
  .text-center {
    text-align: left;
    color: black;
    font-weight: bold;
    background-color: wheat;
  }
  